WordSearch/.classpath
WordSearch/bin
WordSearch/build
WordSearch/.settings
WordSearch/.project
WordSearch/.DS_Store
.DS_Store
.metadata/
.recommenders/
RemoteSystemsTempFiles.gradle/
.gradle/
RemoteSystemsTempFiles/
WordSearch/RemoteSystemsTempFiles/
WordSearch/gradle/
WordSearch/gradlew
WordSearch/gradlew.bat
WordSearch/.gradle/*
